{% extends "base.html" %}

{% block title %}
Sign Up | CivicConnect
{% endblock %}

{% block content %}

<section class="auth-page">

    <div class="auth-container">

        <div class="auth-heading">

            <p class="small-heading">
                JOIN CIVICCONNECT
            </p>

            <h1>
                Create Your Account
            </h1>

            <p>
                Create an account to submit and track your civic complaints.
            </p>

        </div>


        <form action="{{ url_for('signup') }}" method="POST">

            <div class="form-group">

                <label for="name">
                    Full Name
                </label>

                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter your full name"
                    required
                >

            </div>


            <div class="form-group">

                <label for="email">
                    Email
                </label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >

            </div>


            <div class="form-group">

                <label for="password">
                    Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Create a password"
                    required
                >

            </div>


            <button type="submit" class="submit-btn">
                Create Account
            </button>

        </form>


        <p class="auth-switch">
            Already have an account?

            <a href="{{ url_for('login') }}">
                Login
            </a>

        </p>

    </div>

</section>

{% endblock %}